/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #f6f8f9;
}

header{
    height: 120px;
    padding: 20px;
    background-color: white;
}

.logo{
    width: 80px;
    height: 80px;
    vertical-align:bottom;
}

.Title{
    display: inline;
    font-size: 4rem;
    font-weight: 900;
}

main{
    background-color: white;
    margin: 50px auto;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
}

main > header{
    height: 80px;
    border-bottom:3px solid #f6f8f9;
}

header > .style-button{
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-weight: bold;
}

header > .color-button-blue{
    background-color: #47adf1;
    color: white;
    margin-left:20px;
}

header > .color-button-normal{
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
 }

 .center{
    margin-left: 40px;
    margin-top:20px ;
 }

 ul{
    list-style: none;
 }

.check-mark{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #71c7b4;
    margin-left: 50px;
    border: 1px solid #71c7b4; 
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.check-mark-X{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #f01212;
    margin-left: 50px;
    border: 1px solid #d31212; 
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.margin-top-check-mark{
    margin-top:10px ;
}

.description-task{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.style-type-task{
    color: white;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: small;
}

.blue{
    background-color: #47adf1;
}

.violet{
    background-color: violet;
}

.green{
    background-color: rgb(90, 206, 167);
}

.orange{
    background-color: orange;
}

.pink{
    background-color: #d6619f;
}

.lime{
    background-color: lime;
}