/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #f6f8f9;
}

header{
    height: 120px;
    padding: 20px;
    background-color: white;
}

.logo{
    width: 80px;
    height: 80px;
    vertical-align:bottom;
}

.Title{
    display: inline;
    font-size: 4rem;
    font-weight: 900;
}

main{
    background-color: white;
    margin: 50px auto;
    width: 1000px;
}

main > header{
    height: 80px;
    border-bottom:3px solid #f6f8f9;
    border-radius: 10px 10px 1px 1px ;
}

header > .style-button{
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-weight: bold;
}

header > .color-button-blue{
    background-color: #47adf1;
    color: white;
    margin-left:20px;
}

header > .color-button-normal{
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
 }

 .center{
    margin-left: 40px;
    margin-top:20px ;
 }

 ul{
    list-style: none;
 }